<app-header/>
<main>
  <ul id="users">
    <!-- 17: @for (x of users; track x.id) { track is a keyword to specify identification criteria -->
      <li *ngFor="let x of users"> <!-- Structural directive, needs to be imported -->
        <app-user [user]="x" (selectedId)="onSelectUser($event)"/>
      </li>
    <!-- 17: } -->
  </ul>
  <!-- For conditional content -->
  <!-- @if (selectedUser) { -->
    <app-tasks *ngIf="selectedUser; else elsefallback" [name]="selectedUser!.name"/>
  <!-- } @else { -->
  <ng-template #elsefallback>
    <p id="fallback"> Select a user to see their tasks! </p>
  </ng-template>
  <!-- } -->

</main>
