<div>
    <button (click)="onclick()" > <!-- Event name -->

        <img [src]="imagePath" [alt]="name"/> <!-- When accessing signal values, they should be called as functions -->
        
        <!--Property binder using string interpolation-->
        <!--<img [src]="'assets/users/'+selected.avatar" [alt]="selected.name"/>--> 
        
        <span>{{name}}</span>
        
        <!-- 
            <div [attr.aria-valuenow]="currentVal"></div>
            attr.<attribute name> tells angular to treat 'currentval' not as some existing property but 
            bind the attribute dynamically
        -->
    </button>
</div>